/* @import url("fonts.css"); */
@font-face {
    font-family:'futura';
    src:url('fonts/futuralight.ttf') format('truetype'),
        url('fonts/futuralight.woff') format('woff');
}

body{
    font-size:14px;
    font-family:futura;
}
#nav{
    position:fixed;

}
.navObject{
    position:fixed;
    cursor:default;
    color:black;
    font-size:16px;
    display:inline-block;
    transition:color 0.2s;
    overflow:hidden;
}
.menuObject{
    position:fixed;
    color:black;
    transition:opacity 1s;
    font-size:14px;
}
.menuObject:hover{
    color:#aaa;
}
.banner{
    position:fixed;
    top:10%;
    width:50%;
    height:50%;
    overflow:hidden;
}