@import url("fonts.css");
html {
    font-size: 100%;
}

body{
    font-size:1rem;
    background: #24292e;
    font-family:futura;
}
#nav{
    position:absolute;
}
#title{
    position:fixed;
}
.menuoption{
    position:fixed;
    cursor:default;
    color:#777;
    font-size:2rem;
    display:inline-block;
    transition:color 0.2s;
    overflow:hidden;
}
.suboption{
    position:fixed;
    color:#555;
    transition:opacity 1s;
    font-size:1.5rem;
}
.suboption:hover{
    color:#ddd;
}
.banner{
    position:fixed;
    top:3rem;
    height:15rem;
    overflow:hidden;
}

.fader{
    position: fixed;
    top:0px;
    width:100%;
    height:100%;
    left:0%;
    opacity:1;
    background: #24292e;
}